body{
  background-image: url('back2.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; 
  
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 2vw;
}

li a {
  font-size: 2vw;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  display: block;
  color: grey;
  text-decoration: none;
  float: right;
  padding-left:2%;
  padding-right:2%;
  padding-top:1%;
  padding-bottom:5%;
}

/* Change the link color on hover */
li a:hover {
  color: white;
  text-decoration: none;
}

#homeTitle{
  font-size: 10vw;
  padding-left: 10%;
  color: white;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

div#footer {
    background-color: #ffffff;
    padding: 10px;
    margin:0%;
    height:7%; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
