body{
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; 
}

#homeTitle{
  font-size: 10vw;
  padding-left: 2vw;
  color: white;
}
