body{
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; 
}

#homeTitle{
  font-size: 10vw;
  padding-left: 10%;
  color: white;
}

div#footer {
    background-color: #ffffff;
    padding: 10px;
    margin:0%;
    height:10%; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
