body{
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; 
}

#homeTitle{
  font-size: 50vw;
  padding-left: 15vw;
  color: white;
}
