{% extends "layout2.html" %}
{% set active_page = "gallery"%}
{% block style %}{{ url_for('static', filename='style.css') }}{% endblock %}
{% block title %}Gallery{% endblock %}

{% block content %}
  
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <script> 
    $(document).ready(function(){
      $(".galleryItem").click(function(){
        
        if($(this).hasClass('myToggle')){
          $(this).removeClass('myToggle')
		  $(this).css({"width":"23%", "position": "static", "left":"auto"})
          //$(this).animate({width: '20%'})
        }else{
          $(this).addClass('myToggle')
		  $(this).css({"width": "100%", "position": "absolute", "left":"25%"})
          //$(this).animate({width: '75%'})
      }
      });

    });
  </script> 

{% endblock %}


