{% extends "layout2.html" %}
{% block style %}{{ url_for('static', filename='style.css') }}{% endblock %}
{% block title %}Gallery{% endblock %}

{% block content %}
  
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <script> 
    $(document).ready(function(){
      $(".galleryItem").click(function(){
        console.log($(this).css('width'));
        if($(this).css('width')=='44%'){
          $(this).animate({width: '98%'})
        }else{
          $(this).animate({width: '44%'})
      }
      });

    });
  </script> 

{% endblock %}


