{% extends "layout2.html" %}
{% set active_page = "gallery"%}
{% block style %}{{ url_for('static', filename='style.css') }}{% endblock %}
{% block title %}Gallery{% endblock %}

{% block content %}
  
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <img class="galleryItem", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo">
  <script> 
    $(document).ready(function(){
      $(".galleryItem").mouseenter(function(){
  	if(!$(this).hasClass('myToggle')){
		$(this).css("opacity", "0.7")
	}
      });
	    
      $(".galleryItem").mouseleave(function(){
	$(this).css("opacity", "1")
      });
	    
      $(".galleryItem").click(function(){
        if($(this).hasClass('myToggle')){
       		$(this).removeClass('myToggle')
	  	$(this).css({ "position": "static", "left":"auto"})
		if($(window).width()<=600){
			$(this).css( "width", "45%")
		}else{
			$(this).css( "width", "22%")
		}
		
        }else{
        	$(this).addClass('myToggle')
        	$(this).css({"opacity": "1", "width": "73%", "position": "absolute", "left":"25%"})

       }
      });

      $(window).resize(function(){
	      if($(window).width()<=600){
		 $(".galleryItem").css( "width", "45%")      
	      }else{
		 $(".galleryItem").css( "width", "22%") 
	      }
      });

    });
  </script> 

{% endblock %}


