
<!doctype html>
  <html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158761804-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158761804-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% block style %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div id="content">{% block content %}{% endblock %}</div>
     <!--<div id="footer">
        <p>Social Media etc</p>
    </div>-->

  </body>

</html>
