
<!doctype html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% block style %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
   <ul>
    <li class="nav-item{% if active_page == "page1" %} active{% endif %}"><a href="/">HOME</a></li>
    <li class="nav-item{% if active_page == "page1" %} active{% endif %}"><a href="/shop">SHOP</a></li>
    <li class="nav-item{% if active_page == "page1" %} active{% endif %}"><a href="/gallery">GALLERY</a></li>
    <li class="nav-item{% if active_page == "page1" %} active{% endif %}"><a href="/about">ABOUT</a></li>
    <li class="nav-item{% if active_page == "page1" %} active{% endif %}"><a href="/contact">CONTACT</a></li>
  </ul>
    <div id="content">{% block content %}{% endblock %}</div>
     <div id="footer">
        <p>Social Media etc</p>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>

</html>
