
<!doctype html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% block style %}{% endblock %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <ul>
      <li><img class="logo", src =  "{{url_for('static',filename='raven.jpeg')}}", alt="logo"></li>
      <li {% if active_page == "home" %} class="active"{% endif %}><a href="/">HOME</a></li>
      <li {% if active_page == "shop" %} class="active"{% endif %}><a href="/shop">SHOP</a></li>
      <li {% if active_page == "gallery" %} class="active"{% endif %}><a href="/gallery">GALLERY</a></li>
      <li {% if active_page == "about" %} class="active"{% endif %}><a href="/about">ABOUT</a></li>
      <li {% if active_page == "contact" %} class="active"{% endif %}><a href="/contact">CONTACT</a></li>
    </ul>
    <div class="sideBar">{% block content %}{% endblock %}</div>
    <!--<div id="footer">
      <p>Social Media etc</p>
    </div>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>

</html>
