{% extends "layout2.html" %}
{% set active_page = "shop"%}
{% block style %}{{ url_for('static', filename='style.css') }}{% endblock %}
{% block title %}Shop{% endblock %}

{% block content %}
  <h1>Shop</h1>
  <p>Lorem ipsum dolor sit amet, his ea quas fastidii efficiantur, habemus nominavi invenire cu sit. Mel corrumpit gubergren ei. Sit ut solet theophrastus. Errem detraxit invenire et usu, nam ne alii cibo brute. At detracto legendos vim, te iudico torquatos quo, eum te soleat probatus.Sit ei delenit voluptua molestiae. Habeo consul nam et, ad vis liber omnes ignota, ut iusto noster saperet ius. Admodum neglegentur in vix. In cibo autem doctus sed, consul alterum fabulas at has. Prompta persecuti eu cum, corrumpit adversarium sea ad, nonumy dolorum detracto mea in.</p>
{% endblock %}
